/* step by step with valuable comments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-weight: 900;
  font-size: 45px;
}

.color-orange {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: azure;
  cursor: pointer;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  font-weight: 300;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}


/* shared style ends */

header {
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-position: 24px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#bannar {
  /* border: 1px solid red; */
  margin: 47px 38px 0px 230px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#bannar .bannar-content {
  max-width: 585px;
}

#bannar .bannar-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#bannar .bannar-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#bannar .bannar-content p {
  font-size: 18px;
  font-weight: 300;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}

#bannar .bannar-img img {
  max-width: 584px;
  vertical-align: bottom;
}

#about ,#skills ,#resume{
  /* padding: 130px 230px;
  background-color: #FFF8F3;
  border: 1px solid black; */
  padding-top: 130px;
}

#about .about-container {
  margin: 0 auto;
  max-width: 1140px;
  width: 71%;
  /* border: 1px solid black; */
  background-color: #fff8f3;
  text-align: center;
  padding: 131px 156px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
}

.about-info .info-card h4 {
  font-size: 20px;
  font-weight: bold;
  /* line-height: 30px; */
  color: #474747;
}


#skills .skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skill-info {
  display: flex;
  gap: 24px;
}

.skill-info .skill-card {
  padding: 30px;
  /* border: 1px solid black; */
  max-width: 267px;
  background-color: #ffffff;
  box-shadow: 0 6px 50px 0 #00000017;
}

.skill-card img {
  margin-bottom: 30px;
  max-width: 44px;
}

.skill-card h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #181818;
}

.skill-card p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}



#resume .resume-container{
  max-width: 1140px;
  width: 71%;
  margin: 113px auto 0;
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
}

.resume-container hr{
  margin: 30px 0;
}


.resume-container .section-title{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  width: 303px;
  margin-bottom: 30px;

}

.resume-card{
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title{
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;

}
.resume-card .card-info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.resume-card .card-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  color: #757575;
}

footer{
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0;
}

footer .footer-container{
  display: flex;
  gap: 117px;
  justify-content: space-between; 
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-container .social{
  max-width: 562px;
}

.footer-container .social p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}

.footer-container h2{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;

}

.footer-container .icon a{
  max-width: 120px;
  margin-right: 24px;
  /* gap: 24px; */
}

.footer-container .form input[type="text"] ,
.footer-container textarea{
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 28px;
  border-radius: 5px;
}

